<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form action="/developer" method="POST">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" required>
    <label for="country">Country of Origin: </label>
    <input type="text" name="country" id="country" required>
    <label for="year">Year founded: </label>
    <input type="text" name="year" id="year" required>
    <button type="submit">Submit</button>
  </form>
</body>

</html>