<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    Update <%= game %>
  </h1>
  <!-- <% const gamename = game %> -->
  <form action="/update?name=<%=game%>" method="POST">
    <label for="genre">Genre: </label>
    <input type="text" name="genre" id="genre" required>
    <label for="developer">Developer: </label>
    <input type="text" name="developer" id="developer" required>
    <button type="submit">Submit</button>
  </form>
</body>

</html>