table, th, td {
  border-collapse: collapse;
}

th {
  border-bottom: 5px double black;
}

tr {
  border-top: 1px solid black;
}

tr:first-child {
  border-top: none;
}

tr:nth-child(even) {
  background-color: gray;
  color: white;
}

#name {
  display: grid;
  grid-template-columns: [title] 400px [genre] 400px [developer] 400px [end]; 
}

#developers {
  display: grid;
  grid-template-columns: [title] 2fr [genre] 2fr [developer] 2fr [end];
  justify-items: center;
}

#tables {
  /* border: 2px solid black; */
  position: absolute;
  top: 20px;
  left: 200px;
}

#bLink {
  width: 200px;
  height: 40px;
}

#bLink:hover {
  background-color: darkgray;
  box-shadow: 4px 4px lightslategray;
  width: 205px;
}

#edit {
  height: 20px;
  width: 40px;
  position: relative;
  bottom: 15px;
  left: 900px;
  background-color: #2AA63E;
  color: white;
}

#edit:hover {
  width: 42px;
  box-shadow: 3px 3px darkgreen;
}

#delete {
  height: 20px;
  width: 50px;
  position: relative;
  bottom: 15px;
  left: 550px;
  background-color: #9F0712;
  color: white;
}

#delete:hover {
  width: 52px;
  box-shadow: 3px 3px #FF6467;
}

.create {
  top: 60px;
  position: absolute;
  height: 20px;
  width: 100px;
  background-color: #5EE9B5;
}

.create:hover {
  width: 103px;
  box-shadow: 3px 3px lightblue;
}