body {
  width: 80%
}

table, th, td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

table {
  width: 400px;
}

td {
  text-align: center;
}

th {
  border-bottom: 5px double black;
}

tr {
  border-top: 1px solid black;
}

tr:first-child {
  border-top: none;
}

tr:nth-child(even) {
  background-color: gray;
  color: white;
}

#name {
  /* display: grid;
  grid-template-columns: [title] 1fr [genre];  */
}

#genres {
  /* display: grid;
  grid-template-columns: [title] 1fr [genre];
  justify-items: center; */
}

#gName {
  /* border-right: 2px solid black; */
}

#tables {
  /* border: 2px solid black; */
  position: absolute;
  top: 20px;
  left: 200px;
}

#bLink {
  width: 200px;
  height: 40px;
}

#bLink:hover {
  background-color: darkgray;
  box-shadow: 4px 4px lightslategray;
  width: 205px;
}

#edit {
  height: 20px;
  width: 40px;
  position: relative;
  /* bottom: 10px; */
  left: 40px;
  background-color: #2AA63E;
  color: white;
}

#edit:hover {
  width: 42px;
  box-shadow: 3px 3px darkgreen;
}

#delete {
  height: 20px;
  width: 50px;
  position: relative;
  /* bottom: 15px; */
  /* left: 10px; */
  background-color: #9F0712;
  color: white;
}

#delete:hover {
  width: 52px;
  box-shadow: 3px 3px #FF6467;
}

.create {
  top: 55px;
  position: absolute;
  height: 20px;
  width: 100px;
  background-color: #5EE9B5;
}

.create:hover {
  width: 103px;
  box-shadow: 3px 3px lightblue;
}