body {
  width: 80%
}

table, th, td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}

/* h1 {
  border-bottom: 2px dashed black;
  width: 10%;
} */

th {
  border-bottom: 5px double black;
}

table {
  /* width: 50%; */
  /* border-spacing: 40px; */
}

tr {
  border-top: 1px solid black;
}

tr:first-child {
  border-top: none;
}

tr:nth-child(even) {
  background-color: gray;
  color: white;
}

#name {
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: [title] 400px [genre] 400px [developer] 400px [end]; 
}

#games {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: [title] 2fr [genre] 2fr [developer] 2fr [end];
  /* margin-top: 10px; */
  justify-items: center;
  /* border-right: 2px solid black; */
}

#gName {
  /* border-right: 2px solid black; */
}

#tables {
  /* border: 2px solid black; */
  position: absolute;
  top: 20px;
  left: 200px;
}

#bLink {
  width: 200px;
  height: 40px;
}

#bLink:hover {
  background-color: darkgray;
  box-shadow: 4px 4px lightslategray;
  width: 205px;
}

.edit {
  display: grid;
  text-align: center;
  border: 2px solid black;
  height: 20px;
  width: 40px;
  position: relative;
  bottom: 15px;
  left: 900px;
  background-color: #2AA63E;
  color: purple;
}

.edit:hover {
  width: 42px;
  box-shadow: 3px 3px darkgreen;
}

.delete{
  /* height: 20px; */
  /* width: 50px; */
  position: relative;
  bottom: 15px;
  left: 550px;
  background-color: #9F0712;
  color: white;
}

.delete:hover {
  width: 52px;
  box-shadow: 3px 3px #FF6467;
}

.create {
  top: 55px;
  position: absolute;
  height: 20px;
  width: 100px;
  background-color: #5EE9B5;
}

.create:hover {
  width: 103px;
  box-shadow: 3px 3px lightblue;
}

